@model List<KartverketGruppe5.Models.PositionModel>

<h2 class="text-center text-3xl font-semibold">Registrert endring:</h2>

<div class="w-full flex justify-center">
    <div class="flex flex-col gap-3 m-8">
    @foreach (var position in Model)
    {
            <p><strong>Breddegrad:</strong> @position.Latitude</p>
            <p><strong>Lengdegrad:</strong> @position.Longitude</p>
            <p><strong>Beskrivelse:</strong> @position.Description</p>
    }
    </div>
</div>
<div id="map" style="height: 500px;"></div>

@section Scripts {
    <script>
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; < a href="https://www.openstreetmap.org/copyright" > OpenStreetMap</a> contributors'
        }).addTo(map);

        var positions = @Json.Serialize(Model)

        positions.forEach(function (position) {
            var marker = L.marker([position.latitude, position.longitude]).addTo(map);
            var url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${position.latitude} & lon=${ position.longitude };`

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    var address = data.display_name ? data.display_name : "Address not found";
                    marker.bindPopup(`${position.description}<br>Address: ${address}`).openPopup();
                })
                .catch(error => {
                    marker.bindPopup(`${position.description}<br>Address: Not abailable`).openPopup();
                });

            changes.forEach(function (change) {
                // Parse the GeoJSON data and add it to the map
                var geoJsonData = JSON.parse(change.geoJson);
                L.geoJSON(geoJsonData).addTo(map);

                // Optinally, bind a popup with the change description
                var layer = L.geoJSON(geoJsonData).bindPopup(change.description);
                layer.addTo(map);
            });
        });
    </script>
}


