@model KartverketGruppe5.Models.UserData
@{
    Layout = null;
}

<html>
    <body>
        <h1>Thanks for registering</h1>
        <h2>Submitted data:</h2>
        <b>Name: @Model.Name</b>
        <b>Name: @Model.Email</b>
        <b>Name: @Model.Phone</b>
        <b>Name: @Model.Address</b>
    </body>
</html>
