@model KartverketGruppe5.Models.UserData
@{
    Layout = null;
}

<html>
    <body>
        <h1 class="text-center text-4xl">Registration Form</h1>
        <form asp-action="RegistrationForm" method="post">
            <div>
                <label asp-for="Name">Your Name</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="Email">Your Name</label>
                <input asp-for="Email" />
            </div>
            <div>
                <label asp-for="Phone">Your Name</label>
                <input asp-for="Phone" />
            </div>
            <div>
                <label asp-for="Address">Your Name</label>
                <input asp-for="Address" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
